---
# k8s/roles/kubernetes/k8s_network_driver.yml   :   Task file for installation of network driver for K8s

- name: Installing the network driver for K8s
  shell: kubectl apply -f "https://cloud.weave.works/k8s/net?k8s-version=$(kubectl version | base64 | tr -d '\n')"
